@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
body{
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
ul{
  list-style: none;
  text-decoration: none;
  color: transparent;
}

a{
  text-decoration:none;
  color: #fff;
}

button{
  border: none;
  cursor: pointer;
}

.header{
  background-color: #635854;
  border-bottom: 4px solid #3596F5;
}

.navbar{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  padding: 12px 0 10px 0;
}

.navbar-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.navbar-item + .navbar-item{
  margin-left: 80px;

}

.navbar-contact{
  display: flex;
  flex-direction: column;
}
.navbar-text{
  display: block;
  text-align: right;
  margin-bottom: 4px;
}

.navbar-phone{
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}


.main{
  display: flex;
  max-width: 1280px;
  margin: auto;
  padding: 54px 0 10px 0;
} 

.home-image path{
  opacity: 0;
  cursor: pointer;
}

.home-image path:hover {
  opacity: 1;
}

.main-info{
flex-grow: 1;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}


.main-title {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;

  color: #635854;

}

.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}


.counter-arrow-down {
  transform: rotateX(180deg);
}
.counter{
  font-family: "Bebas Neue", sans-serif;
  font-size: 120px;
  color: #635854;
  margin: 10px 0px;
}

.button-primary{
  font-family: "Roboto", sans-serif;
 padding: 16px 36px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background-color:#3596F5;
  color: #FFFFFF;
  border-radius: 6px;
}

path.current-floor{
  opacity: 1;
}